{% extends 'address/base.html' %}

{% block content %}
    <h1> <p class="text-center"> Address Book </p> </h1>
    <div class="container-fluid">
            <div class="row row-eq-height mx-auto">
                <div class="col-sm-2 col-border"> First Name </div>
                <div class="col-sm-2 col-border"> Last Name </div>
                <div class="col-sm-2 col-border"> Address </div>
                <div class="col-sm-2 col-border"> Contact Info </div>
                <div class="col-sm-2 btn-padding" > 
                    <a class="btn btn-primary btn-sm" href="{% url 'add_contact' %}"><span class="fa fa-plus-square"></span></a> 
                    <a class="btn btn-primary btn-sm" href="{% url 'export_contact' %}"><span class="fa fa-file"></span></a> 
                </div>
            </div>
            {% for address in address_list %}
                <div class="row row-eq-height mx-auto">
                    <div class="col-sm-2 col-border"> {{ address.first_name }}</div>
                    <div class="col-sm-2 col-border"> {{ address.last_name }}</div>
                    <div class="col-sm-2 col-border"> {{ address.address }}</div>
                    <div class="col-sm-2 col-border"> {{ address.contact_number}}</div>
                    <div class="col-sm-2 btn-padding" > 
                            <a class="btn btn-primary btn-sm" href="{% url 'edit_contact' pk=address.pk %}"><span class="fa fa-edit"></span></a> 
                            <a class="btn btn-primary btn-sm" href="{% url 'delete_contact' pk=address.pk %}"><span class="fa fa-trash"></span></a> 
                    </div>
                </div>
           {% endfor %}
    </div>

{% endblock %}
