h1, h2, h3, h4 {
    font-family: 'Josefin Slab', cursive;
    font-size: 40pt;
}

.col-border {
   border: 1px solid;
}

.nav-padding {
    padding-top: 50px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
